timm==0.4.12
Pillow==8.1.2
blobfile==2.0.1
mypy==1.1.1
numpy==1.20.0
pytest==7.2.2
requests==2.24.0
einops==0.6.0
tensorboardX==1.8
scipy==1.10.1
ftfy==6.1.1
opencv-python==4.7.0.72
sentencepiece==0.1.97
pyarrow==9.0.0
torchmetrics==0.7.3
transformers==4.27.4
deepspeed==0.4.0
pycocotools==2.0.6
pycocoevalcap==1.2
torchscale==0.2.0
chardet
six
ninja==1.10.2
protobuf==3.20.*
pandas